body {
  background-color: #272727;
  font-size: 24px;
}
h1 {
  color: #FF652F;
  font-family: 'PT Sans', sans-serif;
  font-size: 2.75em;
}
h2 {
  color: #FFE400;
  font-family: 'Source Serif Pro', serif;
  margin-top: 25px;
  text-align: center;
  font-size: 1em;
  border-bottom: 1px solid #FFE400;
}
h3 {
  color: #950740;
  font-family: 'Merriweather', serif;
  font-size: 1.25em;
  margin: auto;
}
#container1 {
  margin: auto;
  width: 50%;
  text-align: center;
  height: 150px;
  width: 725px;
  position: relative;
}
#container2 {
  position: relative;
  margin: auto;


}
