body{
  background-color: #212F3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}
a:link {
  color: #FFA700;
  text-decoration: none;
  font-weight: bolder;
  transition: 1s ease;
}
a:visited {
  color: #FFA700;
}
a:hover {
  color: red;
}
div{
  margin: auto;
  text-align: center;
  color: white;
}
h2 {
  font-size: 30px;
  color: white;
}
.title {
  background-color: #212F3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
  margin: auto;
  text-align: center;
  padding: 10px;
  margin: 175px 50px 50px 50px;
}
.p1 {
  font-size: 25px;
  padding: 75px;
  margin: 150px
}
.p2 {
  font-size: 25px;
  padding: 50px;
  margin: 150px;
}
.p3 {
  font-size: 25px;
  margin: 200px;
  padding: 30px;
}
.p4 {
  font-size: 25px;
  margin: 185px;
}
