body{
  background-color: #212F3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}
a:link {
  color: #FFA700;
  text-decoration: none;
  font-weight: bolder;
  transition: 1s ease;
}
a:visited {
  color: #FFA700;
}
a:hover {
  color: red;
}
div{
  text-align: center;
  color: white;
  line-height: 1.6;
  }
h2 {
  font-size: 2.2vw;
  color: white;
}
.title {
  background-color: #212F3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  text-align: center;
  padding: 10px;
  margin: 175px 50px 50px 50px;
}
.p1 {
  font-size: 2vw;
  padding: 75px;
  margin: 150px;
}
.p2 {
  font-size: 2vw;
  padding: 50px;
  margin: 150px;
}
.p3 {
  font-size: 2vw;
  margin: 180px;
  padding: 30px;
}
.p4 {
  font-size: 2vw;
  margin: 175px;
}
.p5 {
  font-size: 2vw;
  margin: 225px 200px 0px 200px;
}
.p6 {
  font-size: 2vw;
  margin: 220px;
}
.p7 {
  font-size: 2vw;
  margin: 200px 250px 0px 250px;
}
.p8 {
  font-size: 2vw;
  margin: 180px;
}
.p9 {
  font-size: 2vw;
  margin: 210px 225px 0px 225px;
}
.p10 {
  font-size: 2vw;
  margin: 200px;
}
.p11 {
  font-size: 2vw;
  margin: 210px;
}
.p12 {
  font-size: 2vw;
  margin: 240px;
}
.p13 {
  font-size: 100px;
  margin: 200px;
}
.shape {
  height: 520px;
  width: 10px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 20px;
  left: 20px;
}
.shape1 {
  height: 10px;
  width: 80px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape2 {
  height: 10px;
  width: 160px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape3 {
  height: 10px;
  width: 240px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape4 {
  height: 10px;
  width: 320px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape5 {
  height: 10px;
  width: 400px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape6 {
  height: 10px;
  width: 480px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape7 {
  height: 10px;
  width: 560px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape8 {
  height: 10px;
  width: 640px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape9 {
  height: 10px;
  width: 720px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape10 {
  height: 10px;
  width: 800px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape11 {
  height: 10px;
  width: 880px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape12 {
  height: 10px;
  width: 960px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
.shape13 {
  height: 10px;
  width: 1040px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 525px;
  left: 100px;
}
