body{
  background-color: #212F3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}
a:link {
  color: #FFA700;
  text-decoration: none;
  font-weight: bolder;
  transition: 1s ease;
}
a:visited {
  color: #FFA700;
}
a:hover {
  color: red;
}
div{
  text-align: center;
  color: white;
  line-height: 1.6;
  }
h2 {
  font-size: 2.2vw;
  color: white;
}
.title {
  background-color: #212F3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 4vw;
  text-align: center;
  padding: 5px;
  margin: 25vh;
}
.p1 {
  font-size: 2vw;
  padding: 75px;
  margin: 30vh;
}
.p2 {
  font-size: 2vw;
  padding: 50px;
  margin: 30vh;
}
.p3 {
  font-size: 2vw;
  margin: 30vh;
  padding: 30px;
}
.p4 {
  font-size: 2vw;
  margin: 25vh;
}
.p5 {
  font-size: 2vw;
  margin: 35vh;
}
.p6 {
  font-size: 2vw;
  margin: 35vh;
}
.p7 {
  font-size: 2vw;
  margin: 30vh;
}
.p8 {
  font-size: 2vw;
  margin: 30vh;
}
.p9 {
  font-size: 2vw;
  margin: 32vh;
}
.p10 {
  font-size: 2vw;
  margin: 30vh;
}
.p11 {
  font-size: 2vw;
  margin: 30vh;
}
.p12 {
  font-size: 2vw;
  margin: 40vh;
}
.p13 {
  font-size: 100px;
  margin: 37vh;
}
.shape {
  height: 90vh;
  width: 10px;
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  top: 20px;
  left: 20px;
}
.shape1 {
  height: 10px;
  width: calc(85vw/13);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape2 {
  height: 10px;
  width: calc(85vw/13*2);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape3 {
  height: 10px;
  width: calc(85vw/13*3);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape4 {
  height: 10px;
  width: calc(85vw/13*4);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape5 {
  height: 10px;
  width: calc(85vw/13*5);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape6 {
  height: 10px;
  width: calc(85vw/13*6);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape7 {
  height: 10px;
  width: calc(85vw/13*7);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape8 {
  height: 10px;
  width: calc(85vw/13*8);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape9 {
  height: 10px;
  width: calc(85vw/13*9);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape10 {
  height: 10px;
  width: calc(85vw/13*10);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape11 {
  height: 10px;
  width: calc(85vw/13*11);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape12 {
  height: 10px;
  width: calc(85vw/13*12);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
.shape13 {
  height: 10px;
  width: calc(85vw/13*13);
  background-color: #FFA700;
  position: absolute;
  margin: 20px;
  bottom: 35px;
  left: 100px;
}
