* {
  box-sizing: border-box;
  margin: 1px;
}
body {
  margin: 1px;
}
div {
  float:left;
}
.board {
  width: 700px;
}
.tall {
  width: 100px;
  height: 303px;
  background-color: red;
}
.long {
  width: 402px;
  height: 100px;
  background-color: red;
}
.square {
  width: 200px;
  height: 200px;
  background-color: red;
}
.board2 {
  width: 700px;
}
.board3 {
  width: 404px;
}
.board4 {
  width: 404px;
}
