body {
  background-color: grey;
  margin: 75px;
  padding: 75px;
}
div {
  width: 100px;
  height: 100px;
  background-color: black;
  float: left;
  margin: -25px;
  opacity: .5;
  border-style: dashed;
  border-radius: 25%;
}
.one {
  width: 150px;
  height: 150px;
  background-color: red;
  border-radius: 100%;
  margin: -50px;
  opacity: .75;
  float: left;
}
.two {
  width: 150px;
  height: 150px;
  background-color: pink;
  border-radius: 25%;
  margin: -50px;
  opacity: .75;
}
.three {
  width: 150px;
  height: 150px;
  background-color: lightblue;
  border-radius: 100%;
  margin: -50px;
  opacity: .75;
}
