body {
  background-color: #222629;
  }
main{
  width: 45vw;
  }
h1 {
  color: #86C232;
  font-family: 'Fjalla One', sans-serif;
}
h2 {
  color: #61892F;
  text-align: left;
  font-size: 1.5em;
  font-family: 'Fjalla One', sans-serif;
}
p {
  color: grey;
}
ol {
  color: grey;
  font-family: 'Fjalla One', sans-serif;
}
}
