* {
  box-sizing: border-box;
  font-family: 'Oswald', sans-serif;
}
  body {
    background-color: #EAE7DC;
    margin: 0;
    font-size: 16px;
  }
@media only screen and (min-width: 320px){
#image {
  margin: auto;
  height: 100px;
}
p {
  font-size: 3em;
  color: #5E5E5D;
}
#top {
  width: 100%;
  height: 550px;
}
#bar1 {
  width: 100%;
  height: 120px;
  background-color: #EAE7DC;
  margin: auto;
  margin-top: 180px;
  position: absolute;
}
h1 {
  text-align: center;
  font-size: 5em;
  margin: 0px;
  color: #E85A4F;
}
#underline {
  text-decoration: underline;
  margin-top: 90px;
}
#underline1 {
  text-decoration: underline;
  margin-top: 260px;
}
#bar2 {
  width: 100%;
  height: 90px;
  background-color: #D8C3A5;
  margin: auto;
  margin-top: 450px;
  position: relative;
}
h2 {
  text-align: center;
  font-size: 3em;
  margin: 10px;
  padding-top: 10px;
  white-space: pre;
  text-decoration: underline;
}
#second {
  width: 100%;
  height: 715px;
  margin-top: 90px;
}
#bar3 {
  width: 100%;
  height: 90px;
  background-color: #EAE7DC;
  margin: auto;
  margin-top: -180px;
  position: absolute;
}
h3 {
  text-align: center;
  font-size: 3.5em;
  color: #E85A4F;
  margin: 0px
}
#box1 {
  width: 100%;
  height: 500px;
  background-color: #D8C3A5;
  margin: auto;
  margin-top: 50px;
}
#textbox1 {
  width: 600px;
  margin: auto;
  padding: 1px;
}
#third {
  width: 100%;
  height: 715px;
  margin-top: 180px;
}
#bar4 {
  width: 100%;
  height: 90px;
  background-color: #EAE7DC;
  margin: auto;
  margin-top: -170px;
  position: absolute;
}
#box2 {
  width: 100%;
  height: 650px;
  background-color: #D8C3A5;
  margin: auto;
  margin-top: 50px;
}
#textbox2 {
  width: 600px;
  margin: auto;
  padding: 15px;
}
#fourth {
  width: 100%;
  height: 715px;
  margin-top: 180px;
}
#bar5 {
  width: 100%;
  height: 90px;
  background-color: #EAE7DC;
  margin: auto;
  margin-top: -170px;
  position: absolute;
}
#box3 {
  width: 100%;
  height: 875px;
  background-color: #D8C3A5;
  margin: auto;
  margin-top: 50px;
}
#textbox3 {
  width: 600px;
  margin: auto;
  padding: 10px;
}
#fifth {
  width: 100%;
  height: 920px;
  margin-top: 180px;
}
#bar6 {
  width: 100%;
  height: 90px;
  background-color: #EAE7DC;
  margin: auto;
  margin-top: -170px;
  position: absolute;
}
#box4 {
  width: 100%;
  height: 600px;
  background-color: #D8C3A5;
  margin: auto;
  margin-top: 50px;
}
#textbox4 {
  width: 600px;
  margin: auto;
  padding: 10px;
}
#sixth {
  width: 100%;
  height: 1175px;
  margin-top: 180px;
}
#bar7 {
  width: 100%;
  height: 90px;
  background-color: #EAE7DC;
  margin: auto;
  margin-top: -170px;
  position: absolute;
}
#box5 {
  width: 100%;
  height: 700px;
  background-color: #D8C3A5;
  margin: auto;
  margin-top: 50px;
}
#textbox5 {
  width: 600px;
  margin: auto;
  padding: 10px;
}
#seventh {
  width: 100%;
  height: 725px;
  margin-top: 100px;
}
}



}
