body{
  background-color: #212F3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 25px;
}
a:link {
  color: #FFA700;
  text-decoration: none;
}
a:visited {
  color:#FFA700;
}
div{
  margin: auto;
  text-align: center;
  width: 50%;
  padding: 1px;
}
p {
  margin: 200px 1px 1px 1px;
  color: white;
}
h2 {
  font-size: 30px;
  color: white;
}
