body{
  background-color: #212F3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
div{
  width:600px;
  margin: 50px  auto;
  text-align: center;
}
