body{
  background-color: #212F3C;
  font-family: 'Open Sans', sans-serif;
  font-size: 50px;
}
a:link {
  color: white;
}
a:visited {
  color: white;
}
div{
  margin: auto;
  text-align: center;
}
p {
  margin: 40px;
}
.px320 {
  max-width: 320px;
}
.px768 {
  max-width: 768px;
}
.px1024 {
  max-width: 1024px;
}
.px1440 {
  max-width: 1440px;
}
